<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h3><span class="fa fa-tachometer"></span> Dashboard - Agil Automotive</h3>
        </div>
    </div>

    <div class="row dashboard">
        <div class="col-md-3">
            <div class="panel panel-green">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <i class="fa fa-sitemap fa-3x dashboard-icon"></i>
                        </div>
                        <div class="col-xs-8 col-md-8 text-right">
                            <div class="dashboard-item">
                                <span>{{classes}}</span>
                            </div>
                            <small class="dashboard-label">Classes</small>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12 dashboard-link-div">
                            <a href="#" onclick="$('#class-hierarchy-btn').click()">
                                <span class="pull-left">
                                    View classes
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-arrow-circle-o-right text-right margin-right-20"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-green-sea">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <i class="fa fa-list-alt fa-3x dashboard-icon "></i>
                        </div>
                        <div class="col-xs-8 col-md-8 text-right">
                            <div class="dashboard-item">
                                <span>{{objectProperties}}</span>
                            </div>
                            <small class="dashboard-label">Object Properties</small>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12 dashboard-link-div">
                            <a href="#" onclick="$('#object-properties-btn').click()">
                                <span class="pull-left">
                                    View object properties
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-arrow-circle-o-right text-right margin-right-20"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-blue">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <i class="fa fa-calculator fa-3x dashboard-icon "></i>
                        </div>
                        <div class="col-xs-8 col-md-8 text-right">
                            <div class="dashboard-item">
                                <span>{{dataProperties}}</span>
                            </div>
                            <small class="dashboard-label">Data Properties</small>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12 dashboard-link-div">
                            <a href="#" onclick="$('#data-properties-btn').click()">
                                <span class="pull-left">
                                    View data properties
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-arrow-circle-o-right text-right margin-right-20"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-dark-blue">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <i class="fa fa-car fa-3x dashboard-icon "></i>
                        </div>
                        <div class="col-xs-8 col-md-8 text-right">
                            <div class="dashboard-item">
                                <span>{{individuals}}</span>
                            </div>
                            <small class="dashboard-label">Cars</small>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12 dashboard-link-div">
                            <a href="#" onclick="$('#individuals-btn').click()">
                                <span class="pull-left">
                                    View cars
                                </span>
                                <span class="pull-right">
                                    <i class="fa fa-arrow-circle-o-right text-right margin-right-20"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>