<form ng-submit="addRule()" name="ruleForm" novalidate>
    <div>
        <h3><span class="fa fa-plus-square"></span> Add new SWRL rule</h3>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="rule-name">Rule name</label>
                <input type="text" class="form-control" disable-spaces id="rule-name" placeholder="Name"
                       ng-model="rule.name" name="name"
                       ng-class="{'is-invalid' : ruleForm.name.$invalid && ruleForm.$submitted, 'is-valid' : ruleForm.name.$valid && ruleForm.$submitted}"
                       required>
                <div class="invalid-feedback">
                    Please enter a name.
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="rule-name">Description</label>
                <input type="text" class="form-control" id="rule-description" placeholder="Description"
                       ng-model="rule.description" name="description"
                       ng-class="{'is-invalid' : ruleForm.description.$invalid && ruleForm.$submitted, 'is-valid' : ruleForm.description.$valid && ruleForm.$submitted}"
                       required>
                <div class="invalid-feedback">
                    Please enter a description.
                </div>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-12">
                <label for="rule-name">SWRL Rule</label> <a href="https://www.w3.org/Submission/SWRL/" target="_blank"><span class="fa fa-info-circle"></span></a>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-12">
                <textarea class="form-control" style="min-width: 100%" placeholder="Car(?x) ^ hasEngine(?x, ?y) ^ ElectricEngine(?y) -> hasElectricCar(?x, ?y)"
                          name="rule"
                          ng-model="rule.rule"
                          ng-class="{'is-invalid' : ruleForm.rule.$invalid && ruleForm.$submitted, 'is-valid' : ruleForm.rule.$valid && ruleForm.$submitted}"
                          required></textarea>
                <div class="invalid-feedback">
                    Please enter a valid SWRL rule.
                </div>
            </div>
        </div>
        <div class="row form-row pt-3">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success">Add SWRL rule</button>
            </div>
        </div>
    </div>
</form>